@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/functions";

@import "./base/base";


@import "./layout/header";
@import "./layout/footer";

.banner {
    &__place {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 18px 0px;
        background-color: shader-grey(92%);
        box-shadow: inset 0px 3px 3px shader-grey(76%);
    }
    &__icon {
        margin-right: 10px;
    }
}

.presentation {    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    margin-bottom: 0px;
    background-color: shader-grey(96%);
    &__title { 
        @include mobile-only {
            padding: 0px 70px;
        }
        // @media (max-width: 599px) {
        //     padding: 0px 70px;
        // }
    }
    &__paragraph {  
        margin: -6px auto -4px;      
        font-weight: 300;
        @include mobile-only {
            padding: 0px 20px;
        }
        // line-height: 5px;
    }
    &__gradient {        
        padding: 20px;
        margin: 40px auto;
        max-width: 185px; 
        color: $white;
        border-radius: 30px; 
        background: linear-gradient(170deg, $secondary, $primary);        
    }    
}

.functioning {
    margin: 0px auto 70px;
    padding: 0px 20px;
    // max-width: 335px;
    &__title {        
        text-align: center;
        margin-bottom: 40px;
        @include mobile-only {
            text-align: start;
        }
        // @media (max-width: 599px) {
        //     text-align: start;
        // }    
    }
    &__button {
        display: flex;
        align-items: center;
        width: 305px;
        margin: 0px auto 30px;
        padding: 20px 0px;
        border-radius: 20px;
        background-color: shader-grey(96%);
        box-shadow: -1px -1px 15px shader-grey(93%), 2px 2px 3px shader-grey(93%);
        &:hover {
            background-color: pastel($primary);
            .functioning__icon--color {color: $primary;}
        }    
    }
    &__round{
        position: relative;
        left: -15px;
        font-size: 90%;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        text-align: center;
        line-height: 25px;
        color: $white;
        background-color: $primary;
        margin-right: 15px;
    }
    &__icon {
        margin-right: 30px;
        color: shader-grey(49%);
    }
}

.list-menus {
    background-color: shader-grey(96%);
    padding: 30px 20px 40px;
    &__title {
        text-align: center;
        @include mobile-only {
            text-align: start;
        }
        // @media (max-width: 599px) {
        //     text-align: start;
        // }
    }
    &__card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;  
    }
}


.menu {
    flex: 23%;
    max-width: 23%;
    @include tablette {
        text-align: start;
        flex-direction: row;
        flex: 48%;
        max-width: 48%;
    }
    // @media (max-width: 1200px) {
    //     flex-direction: row;
    //     flex: 48%;
    //     max-width: 48%;
    // }
    @include mobile-only {
        min-width: 100%;
    }
    // @media (max-width: 599px) {
    //     min-width: 100%;
    // }        
    position: relative;
    // border: rgb(52, 32, 231) solid 1px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px shader-grey(93%);
    overflow: hidden;
    &__image {
        position: relative;
        height: 170px;
        // border: rgb(73, 252, 3) solid 1px;
        overflow: hidden;
        img {    
            position: absolute;
            bottom: 0px;           
            max-width: 100%;
        }
    }
    &:nth-child(2) img {
        bottom: -98px;
    }
    &__new{
        z-index: 2;
        position: absolute;
        top: 15px;
        right: 15px;
        text-align: center;
        padding: 6px 12px;
        border-radius: 3px;
        background-color: $tertiary;
        color: dark($tertiary);
    } 
    &__text {            
        padding: 16px 0px 16px 10px;
        background-color: $white;
    }
    &__title {
        margin: 0px auto;        
    }
    &__paragraph {
        font-weight: lighter;
        margin: 2px auto 0px;
    }     
    &__heart {
        position: absolute;
        right: 25px;
        bottom: 30px;                
    }
    &__icon {
        font-size: 130%;
        transform: scaleY(1.2);
        &--flyover:hover {
            // background-color: yellow;
            // background-clip: text; 
            color: $primary;
            // background: linear-gradient(30deg, $secondary, $primary);
        }
    }  
     &:nth-child(n+3):nth-child(-n+4) .menu__new{
        display: none;
    }
}


// ******************************************************************************
                        // Page
// ******************************************************************************

.page {
    display: flex;
    flex-direction: column;
    // margin: 0px auto;
    &__image {
        height: 200px;
        & img{
            max-width: 105%;
        }
    }
    &__restaurant {
        display: flex;
        flex-direction: column;
        background-color: $grey-bkgd;
        border-radius: 50px 50px 0px 0px;
    }
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 0px 20px;
    &__title {
        font-family: Shrikhand, Arial, Helvetica, sans-serif;
    }
    &__heart {
        margin-right: 30px;
    }
}

.type {
    margin: 20px 20px 50px 20px;
    &__title {
        font-size: 120%;
        font-weight: 300;
        border-bottom: $tertiary solid 3px;
        width: 48px;
    }
    
}


.choice{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0px 0px 15px;
    padding: 12px 0px 12px 10px;
    border-radius: 15px;
    background-color: $white;
    box-shadow: 3px 3px 3px shader-grey(93%);
    &__text {
        // margin-block-start: -18px;
        // margin-block-end: -18px;
        margin: -18px 0px 0px;
        display: flex;
        flex-direction: column;
    }
    &__precision {
        margin-top: -15px;
        font-weight: 300;
    }
    &__prix {
        margin-top: -15px;
        margin-right: 22px;
    }
}