@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/functions";

@import "./base/base";


@import "./layout/header";
@import "./layout/footer";

.banner {
    &__place {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 18px 0px;
        background-color: shader-grey(92%);
        box-shadow: inset 0px 3px 3px shader-grey(76%);
    }
    &__icon {
        margin-right: 10px;
    }
}

.presentation {    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    margin-bottom: 0px;
    background-color: shader-grey(96%);
    &__title { 
        @include mobile-only {
            padding: 0px 70px;
        }
        // @media (max-width: 599px) {
        //     padding: 0px 70px;
        // }
    }
    &__paragraph {  
        margin: -6px auto -4px;      
        font-weight: 300;
        @include mobile-only {
            padding: 0px 20px;
        }
        // line-height: 5px;
    }
    &__gradient {        
        padding: 15px;
        margin: 40px auto;
        width: 185px; 
        color: $white;
        border-radius: 30px; 
        background: linear-gradient(170deg, $secondary, $primary);
        box-shadow: 2px 2px 3px shader-grey(76%);
        transform: scale(1);
        transition: transform 400ms;
        &:hover {
            transform: scale(1.10);
            background: linear-gradient(170deg, lighten($secondary, 4%), lighten($primary, 4%));
            box-shadow: -1px -1px 6px shader-grey(76%), 2px 2px 6px shader-grey(76%);
         }        
    }    
}

.functioning {
    margin: 0px auto 70px;
    padding: 0px 20px;
    // max-width: 335px;
    &__title {        
        text-align: center;
        margin-bottom: 40px;
        @include mobile-only {
            text-align: start;
        }
        // @media (max-width: 599px) {
        //     text-align: start;
        // }    
    }
    &__button {
        display: flex;
        align-items: center;
        width: 305px;
        margin: 0px auto 30px;
        padding: 20px 0px;
        border-radius: 20px;
        background-color: shader-grey(96%);
        box-shadow: -1px -1px 15px shader-grey(93%), 2px 2px 3px shader-grey(93%);
        transform: scale(1);
        transition: transform 400ms;
        &:hover {
            background-color: pastel($primary);
            .functioning__icon--color {color: $primary;}
            transform: scale(1.05);
            
        }    
    }
    &__round{
        position: relative;
        left: -15px;
        font-size: 90%;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        text-align: center;
        line-height: 25px;
        color: $white;
        background-color: $primary;
        margin-right: 15px;
    }
    &__icon {
        margin-right: 30px;
        color: shader-grey(49%);
    }
}

.list-menus {
    background-color: shader-grey(96%);
    padding: 30px 20px 40px;
    &__title {
        text-align: center;
        @include mobile-only {
            text-align: start;
        }
        // @media (max-width: 599px) {
        //     text-align: start;
        // }
    }
    &__card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;  
    }
}


.menu {
    flex: 23%;
    max-width: 23%;
    @include tablette {
        text-align: start;
        flex-direction: row;
        flex: 48%;
        max-width: 48%;
    }
    @include mobile-only {
        min-width: 100%;
    }  
    position: relative;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px shader-grey(93%);
    overflow: hidden;
    &__image {
        position: relative;
        height: 170px;
        overflow: hidden;
        img {    
            position: absolute;
            bottom: 0px;           
            max-width: 100%;
        }
    }
    &:nth-child(2) img {
        bottom: -98px;
    }
    &__new{
        z-index: 2;
        position: absolute;
        top: 15px;
        right: 15px;
        text-align: center;
        padding: 6px 12px;
        border-radius: 3px;
        background-color: $tertiary;
        color: dark($tertiary);
    } 
    &__text {            
        padding: 16px 0px 16px 10px;
        background-color: $white;
    }
    &__title {
        margin: 0px auto;        
    }
    &__paragraph {
        font-weight: lighter;
        margin: 2px auto 0px;
    }     
    &__heart {
        position: absolute;
        right: 25px;
        bottom: 30px;
        &:hover {
            .menu__icon--flyover {
                opacity: 0;
            }
            .menu__icon-solid--flyover {
                opacity: 1;
            }
        }               
    }

    &__icon {
        position: absolute;
        font-size: 1.5rem;
        opacity: 1;
        transition: opacity 400ms; 
    }
    &__icon-solid {
        font-size: 1.5rem;
        background-clip: text;
        color: transparent; 
        background-image: linear-gradient(30deg, $secondary, $primary);
        opacity: 0;
        transition: opacity 400ms;
    }
    &:nth-child(n+3):nth-child(-n+4) .menu__new{
        display: none;
    }
}


// ******************************************************************************
                        // Page
// ******************************************************************************

.page {
    display: flex;
    flex-direction: column;
    // margin: 0px auto;
    &__image {
        height: 200px;
        & img{
            max-width: 100%;
        }
    }
    &__restaurant {
        display: flex;
        flex-direction: column;
        background-color: $grey-bkgd;
        border-radius: 50px 50px 0px 0px;
    }
    &__button {
        text-align: center;
        margin: 30px auto 70px;
        
    }

    &__gradient {        
        padding: 15px;        
        width: 185px; 
        color: $white;
        border-radius: 30px; 
        background: linear-gradient(170deg, $secondary, $primary);
        box-shadow: 2px 2px 3px shader-grey(76%);
        transform: scale(1);
        transition: transform 400ms;
        &:hover {
            transform: scale(1.10);
            background: linear-gradient(170deg, lighten($secondary, 4%), lighten($primary, 4%));
            box-shadow: -1px -1px 6px shader-grey(76%), 2px 2px 6px shader-grey(76%);
        }        
    } 
}

.name {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 20px 20px 0px 20px;
    &__title {
        font-family: Shrikhand, Arial, Helvetica, sans-serif;
    }
    &__heart {
        position: absolute;
        right: 24px;
        top: 24px;
        &:hover {
            .menu__icon--flyover {
                opacity: 0;
            }
            .menu__icon-solid--flyover {
                opacity: 1;
            }
        } 
    }
}

.type {
    margin: 20px 20px 20px 20px;
    &__title {
        font-size: 120%;
        font-weight: 300;
        border-bottom: $tertiary solid 3px;
        width: 48px;
    }
    
}

// $choice-duration: 700ms;
// $delay: 300ms;
// $choice-number: 4;

@keyframes animation-choice {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    
    80% {
        transform: translateY(0px);
    }   

    100% {
        opacity: 1;
    }   
}

.choice {
    cursor: pointer;
    &:hover {
        .choice__text {
            // flex-basis: 0;
            width: auto;
        }
        .choice__prix {
            transform: translateX(-32px)
        }
        .choice__check {
            transform: translateX(-32px)
        }
        // &::after {
        //     transform: translateX(-32px);
        // }
    }

    // &__prix--rollover::after {
    //     content:"ha";
    //     margin-left: 30px;
    // }



    &__load {
        animation: animation-choice ease-in-out $choice-duration backwards;
        @for $i from 1 through $choice-number {
            &--#{$i} {
                animation-delay: $delay * $i;
            }
        }
    }

    &__config {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0px 0px 15px;
        padding: 12px 0px 12px 10px;
        border-radius: 15px;
        background-color: $white;
        box-shadow: 3px 3px 3px shader-grey(93%);
    }
    
    
        
    &__text {
        margin: -18px 0px 0px;
        display: flex;
        flex-direction: column;
        // flex-basis: auto;
        width: min-content;
    }
    &__title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__precision {
        margin-top: -15px;
        font-weight: 300;
        // min-width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__prix-check{        
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    &__prix {
        margin-top: -15px;
        margin-right: 22px; 
        transition: transform 400ms;       
    }
    // &__check {
    //     // margin-left: 50px;
    //     width: 50px;
    //     height: 50px;
    //     background-color: $tertiary;
    //     transition: transform 400ms;
    // }
}







.check2 {
    
    // width: 200px;
    // height: 300px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    
    &__button {
        // margin-left: 150px;
        width: max-content;
        padding: 20px;
        margin-bottom: 10px;
        background-color: chocolate;
        color: white;
        &:hover{
            color: cyan;
            & + .check2__cartouche .check2__precision2 {
                // flex-grow: 0;
                // flex-basis: 0;
                color: blue;
            }
            & + .check2__cartouche .check2__prix {
                transform: translateX(-50px);
            }
            & + .check2__cartouche .check2__container {
                transform: translateX(-50px);
            }
            & + .check2__cartouche .check2__icon {
                transform: rotate(360deg);
            }
        }
    
    }
    &__cartouche {
        display: flex;
        width: max-content;
        // background-color: gold;
        border-radius: 20px;        
        overflow: hidden;
        border: red solid 1px;
        margin-bottom: 10px;
    }
    &__precision2 {
        background-color: lemonchiffon;
        font-weight: 300;
        width: max-content;
        // flex-grow: 1;
        // flex-basis: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden
    }
    &__prix {
        transform: translateX(0px);
        transition: transform 1000ms ease-in-out;
    }

    &__container {
        box-sizing: border-box;
        background-color: $tertiary;
        width: max-content;
        padding: 20px;
        // margin-left: 100px;
        transform: translateX(0px);
        transition: transform 1000ms ease-in-out;
    }
    &__icon {
        color: white;
        font-size: 1.5rem;
        transform: rotate(0deg);
        transition: transform 1000ms ease-in-out;
    }

}




// <i class="fas fa-check-circle"></i>
// f058

// <i class="far fa-check-circle"></i>
// f058



// .pochoir {
//     font-size: 400%;
//     font-weight: bold;
//     background-clip: text;
//     color: transparent;    
//     background-image: linear-gradient(30deg, $secondary, $primary);
// }




// .menu__icon2::before {
    // font-family: "Font Awesome 5 free";
    // font-weight: 900;
    // content: "\f004";
// }

// .menu {
//     &__icon2 {
//         display: inline-block;
//         position: relative;
//         font-size: 95%;      
//         font-family: "Font Awesome 5 free";
//         font-weight: 400;
//         content: "\f004";
//         opacity: 1;
        
//         &__flyover:hover {            
//             opacity: 0;
//         }
        
//             &:hover{
//                 &::after {                
//                  opacity: 1;
//             }
//         }
//         &--flyover::after {
//             position: absolute;
//             left: 0px;
//             font-family: "Font Awesome 5 free";
//             font-weight: 900;
//             content: "\f004";
//             font-size: 100%;
//             background-clip: text;
//             color: transparent;    
//             background-image: linear-gradient(30deg, $secondary, $primary);
//             opacity: 0;
//             transition: opacity 400ms;                  
//             }
//     }
// }

// .pochoir{
    
//     &__p {
//         opacity: 1;
//         position: relative;
//         transition: opacity 1000ms;
//         &--flyover:hover {
//             opacity: 0;
//             transition: opacity 1000ms;
//         }
//         &--flyover::after {
//             position: absolute;
//             content: "ça_va_?";
//             opacity: 0;
//             background-clip: text;
//             color: transparent;    
//             background-image: linear-gradient(30deg, $secondary, $primary);
//             transition: opacity 1000ms;
//         }
//         &--flyover:hover::after {
//             opacity: 1;
           
//         }
//     }
// }





