.header {
    // box-sizing: border-box;    
    position: relative;
    // background-color: $white;
    background-color: darkkhaki;
    // margin: 0px 0px;
    // border: green solid 1px;

    &__icon {
        font-size: 120%;
        position: absolute;
        left: 20px;
        top: 20px;
    }
    &__title {
        margin: 0px;
        padding: 0.6rem;
        font-family: Shrikhand, Arial, Helvetica, sans-serif;
        text-align: center;
        // border: rgb(23, 9, 148) solid 1px;
    }
}

