@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
body {
  max-width: 1920px;
  margin: 0px auto;
}

main {
  margin: 0px auto;
}
@media (max-width: 599px) {
  main {
    max-width: 100%;
  }
}

a {
  color: black;
  text-decoration: none;
}

* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.header {
  position: relative;
  margin: -22px 0px;
}
.header__icon {
  font-size: 120%;
  position: absolute;
  left: 20px;
  top: 20px;
}
.header__title {
  line-height: 200%;
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  text-align: center;
}

.footer {
  padding: 15px 20px 30px;
  background-color: #363636;
  color: white;
}
.footer__title {
  text-align: center;
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  font-size: 130%;
  font-weight: lighter;
  margin-bottom: 22px;
}
@media (max-width: 599px) {
  .footer__title {
    text-align: start;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  padding-left: 0px;
}
@media (max-width: 599px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__item {
  margin-bottom: 8px;
}
.footer__link {
  color: white;
}
.footer__icon {
  font-size: 80%;
  width: 25px;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page__image {
  height: 200px;
}
.page__image img {
  max-width: 100%;
}
.page__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0px 0px;
}
.page__button {
  text-align: center;
  margin: 30px auto 70px;
}
.page__gradient {
  padding: 15px;
  width: 185px;
  color: white;
  border-radius: 30px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-box-shadow: 2px 2px 3px #c2c2c2;
          box-shadow: 2px 2px 3px #c2c2c2;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}
.page__gradient:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: linear-gradient(170deg, #ff8de0, #9e67e0);
  -webkit-box-shadow: -1px -1px 6px #c2c2c2, 2px 2px 6px #c2c2c2;
          box-shadow: -1px -1px 6px #c2c2c2, 2px 2px 6px #c2c2c2;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 20px 20px 0px 20px;
}
.name__title {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
}
.name__heart {
  position: absolute;
  right: 24px;
  top: 24px;
}
.name__heart:hover .menu__icon--flyover {
  opacity: 0;
}
.name__heart:hover .menu__icon-solid--flyover {
  opacity: 1;
}

.type {
  margin: 20px 20px 20px 20px;
}
.type__title {
  font-size: 120%;
  font-weight: 300;
  border-bottom: #99E2D0 solid 3px;
  width: 48px;
}

@-webkit-keyframes animation-choice {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-choice {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}
.choice {
  cursor: pointer;
}
.choice:hover .choice__text {
  width: auto;
}
.choice:hover .choice__prix {
  -webkit-transform: translateX(-32px);
          transform: translateX(-32px);
}
.choice:hover .choice__check {
  -webkit-transform: translateX(-32px);
          transform: translateX(-32px);
}
.choice__load {
  -webkit-animation: animation-choice ease-in-out 700ms backwards;
          animation: animation-choice ease-in-out 700ms backwards;
}
.choice__load--1 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.choice__load--2 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.choice__load--3 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.choice__load--4 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
.choice__config {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0px 0px 15px;
  padding: 12px 0px 12px 10px;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 3px #ededed;
          box-shadow: 3px 3px 3px #ededed;
}
.choice__text {
  margin: -18px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.choice__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.choice__precision {
  margin-top: -15px;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.choice__prix-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.choice__prix {
  margin-top: -15px;
  margin-right: 22px;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.check2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px auto;
}
.check2 * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.check2__button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 20px;
  margin-bottom: 10px;
  background-color: chocolate;
  color: white;
}
.check2__cartouche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px;
  overflow: hidden;
  margin: 100px auto;
}
.check2__cartouche:hover .check2__precision2--rollover {
  color: blue;
}
.check2__cartouche:hover .check2__prix--rollover {
  -webkit-transform: translateX(-63px);
          transform: translateX(-63px);
}
.check2__cartouche:hover .check2__container--rollover {
  -webkit-transform: translateX(-63px);
          transform: translateX(-63px);
}
.check2__cartouche:hover .check2__icon--rollover {
  -webkit-transform: rotate(2turn);
          transform: rotate(2turn);
}
.check2__precision2 {
  background-color: lemonchiffon;
  font-weight: 300;
  padding: 20px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.check2__prix {
  padding: 0px 20px;
  background-color: #ffce95;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}
.check2__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #99E2D0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 20px;
  margin-right: -64px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}
.check2__icon {
  color: white;
  font-size: 1.5rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.banner__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px 0px;
  background-color: #ebebeb;
  -webkit-box-shadow: inset 0px 3px 3px #c2c2c2;
          box-shadow: inset 0px 3px 3px #c2c2c2;
}
.banner__icon {
  margin-right: 10px;
}

.presentation {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
  margin-bottom: 0px;
  background-color: whitesmoke;
}
@media screen and (max-width: 599px) {
  .presentation__title {
    padding: 0px 70px;
  }
}
.presentation__paragraph {
  margin: -6px auto -4px;
  font-weight: 300;
}
@media screen and (max-width: 599px) {
  .presentation__paragraph {
    padding: 0px 20px;
  }
}
.presentation__gradient {
  padding: 15px;
  margin: 40px auto;
  width: 185px;
  color: white;
  border-radius: 30px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-box-shadow: 2px 2px 3px #c2c2c2;
          box-shadow: 2px 2px 3px #c2c2c2;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}
.presentation__gradient:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: linear-gradient(170deg, #ff8de0, #9e67e0);
  -webkit-box-shadow: -1px -1px 6px #c2c2c2, 2px 2px 6px #c2c2c2;
          box-shadow: -1px -1px 6px #c2c2c2, 2px 2px 6px #c2c2c2;
}

.functioning {
  margin: 0px auto 70px;
  padding: 0px 20px;
}
.functioning__title {
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 599px) {
  .functioning__title {
    text-align: start;
  }
}
.functioning__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 305px;
  margin: 0px auto 30px;
  padding: 20px 0px;
  border-radius: 20px;
  background-color: whitesmoke;
  -webkit-box-shadow: -1px -1px 15px #ededed, 2px 2px 3px #ededed;
          box-shadow: -1px -1px 15px #ededed, 2px 2px 3px #ededed;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}
.functioning__button:hover {
  background-color: #f4ebff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.functioning__button:hover .functioning__icon--color {
  color: #9356DC;
}
.functioning__round {
  position: relative;
  left: -15px;
  font-size: 90%;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  text-align: center;
  line-height: 25px;
  color: white;
  background-color: #9356DC;
  margin-right: 15px;
}
.functioning__icon {
  margin-right: 30px;
  color: #7d7d7d;
}

.list-menus {
  background-color: whitesmoke;
  padding: 30px 20px 40px;
}
.list-menus__title {
  text-align: center;
}
@media screen and (max-width: 599px) {
  .list-menus__title {
    text-align: start;
  }
}
.list-menus__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  -webkit-box-flex: 23%;
      -ms-flex: 23%;
          flex: 23%;
  max-width: 23%;
  position: relative;
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 3px #ededed;
          box-shadow: 3px 3px 3px #ededed;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .menu {
    text-align: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 48%;
        -ms-flex: 48%;
            flex: 48%;
    max-width: 48%;
  }
}
@media screen and (max-width: 599px) {
  .menu {
    min-width: 100%;
  }
}
.menu__image {
  position: relative;
  height: 170px;
  overflow: hidden;
}
.menu__image img {
  position: absolute;
  bottom: 0px;
  max-width: 100%;
}
.menu:nth-child(2) img {
  bottom: -98px;
}
.menu__new {
  z-index: 2;
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: center;
  padding: 6px 12px;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #008564;
}
.menu__text {
  padding: 16px 0px 16px 10px;
  background-color: white;
}
.menu__title {
  margin: 0px auto;
}
.menu__paragraph {
  font-weight: lighter;
  margin: 2px auto 0px;
}
.menu__heart {
  position: absolute;
  right: 25px;
  bottom: 30px;
}
.menu__heart:hover .menu__icon-solid--flyover {
  opacity: 1;
}
.menu__heart:hover .menu__icon-white--flyover {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
.menu__heart:hover .menu__icon-white-solid {
  opacity: 1;
}
.menu__icon {
  position: absolute;
  left: 0px;
  font-size: 1.5rem;
}
.menu__icon-white {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 1.5rem;
  color: white;
  opacity: 0;
  -webkit-transform: translateY();
          transform: translateY();
}
.menu__icon-white-solid {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 1.5rem;
  color: white;
  opacity: 0;
}
.menu__icon-solid {
  font-size: 1.5rem;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(30deg, #FF79DA, #9356DC);
  opacity: 0;
}
.menu:nth-child(n+3):nth-child(-n+4) .menu__new {
  display: none;
}