// ***********************************************************************************************
//                                             LOADER
// ***********************************************************************************************

.loader {
    // Fond blanc et organisation de la div
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: loader ease-in-out $duration $delay forwards;
    &__background {
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        position: fixed;
        align-items: center;
        animation: back ease-in-out $duration $delay forwards;
    }

    // Spinner : Disque avec dégradé et titre "ohmyfood"
    // tournant dans le sens horaire
    &__disk {
        top: 17vh;
        width: 270px;
        height: 270px;        
        position: fixed;
        border: $tertiary solid 12px;
        border-radius: 50%;
        background-image: linear-gradient(30deg, $secondary, $primary);
        animation: disk ease-in-out $duration $delay both;
    }
    
    // titre "ohmyfood"
    &__title {
        margin-top: 110px;
        font-family: Shrikhand, Arial, Helvetica, sans-serif;
        font-size: 2rem;
        text-align: center;
        color: $white;
        text-shadow: 2px 2px 2px $footer;
    }  

    // Disque invisible porteur de l'icône couverts (fas fa-utensils)
    // tournant dans le sens anti-horaire
    &__disktwo {
        top: 17vh;
        width: 270px;
        height: 270px;        
        position: fixed;
        opacity: 1;
        border: $tertiary solid 12px;
        border-radius: 50%;
        animation: disktwo ease-in-out $duration $delay both;
    }

    // icône couverts (fas fa-utensils)
    // grandissant, tournant sur lui même et autour du disque invisible (disktwo)
    // shake en fin d'animation 
    &__icon {
        position: absolute;
        left: -20px;
        color: $white;
        border: solid $tertiary 5px;
        background-image: linear-gradient(30deg, $secondary, $primary);
        border-radius: 20px;
        padding: 0.8rem;
        font-size: 4rem;
        animation:  iconshake ease-in-out $duration $delay both;
    }  
    
}

// Changement de l'ordre des calques
// au début de l'animation les calques sont devant les éléments de la page index.html
// à la fin de l'animation les calques sont derrière les éléments de la page index.html
@keyframes loader {
    0% {
        z-index: 1;
    }     
    99% {
        z-index: 1;
    }
    100% {
        z-index: -1;
    }
}

// Animation du fond blanc :
// disparaît à 99% après la disparition du spinner (__disk, __title, __icon)
@keyframes back {
    0% {
        opacity: 1;
    } 
    50% {
        opacity: 1;
    }
    78% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

 
// Animation du Spinner : Disque avec dégradé et titre "ohmyfood"
// tournant dans le sens horaire
// disparaît à 80% avant la disparition du fond blanc
@keyframes disk {
    0% {
        opacity: 1;
        transform: scale(0) rotate(0deg);
    }
    60% {
        opacity: 1;
        transform: scale(1) rotate(360deg);
    }
    80% {
        opacity: 0;
        transform: scale(1) rotate(360deg);
    }
    100% {
        opacity: 0;
        transform: rotate(360deg);   
    }
}

// Animation du Disque invisible porteur de l'icône couverts (fas fa-utensils)
// tournant dans le sens anti-horairedu fond blanc :
// disparaît à 80% avant la disparition du fond blanc
@keyframes disktwo {
    0% {
        opacity: 1;
        transform: scale(0) rotate(-0.5turn);
    }
    60% {
        opacity: 1;
        transform: scale(1) rotate(-1.5turn);
    }
    80% {
        opacity: 0;
        transform: scale(1) rotate(-1.5turn);
    }
    100% {
        opacity: 0;
        transform: rotate(-1.6turn);  
    }
}


@keyframes iconshake {
    0% {
        transform: scale(0) rotate(0deg);
    }
    50% {
        transform: scale(1) rotate(-180+$shake);
    }
    56% {
        transform: scale(1) rotate(-180-$shake);
        
    }
    62% {
        transform: scale(1) rotate(-180+$shake);
    }
    68% {
        transform: scale(1) rotate(-180-$shake);
    }
    74% {
        transform: scale(1) rotate(-180deg);
        opacity: 1;
    }
    80% {
        opacity: 0;
        transform: scale(1) rotate(-180deg);
    }
    100% {
        opacity: 0;
    }
}

