.banner {
    background-color: $grey-place-bkgd;
    box-shadow: inset 0px 3px 3px $grey-place-shdw;
    box-sizing: border-box;
    &__place {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 173px;
        margin: 0px auto;
        padding: 18px 0px;
    }
    &__icon {
        margin-bottom: 4px;
        color: $footer;
    }
    &__city {
        box-sizing: border-box;
        margin-left: 15px;
        font-weight: 500;
    }
}

#search{
    color: $footer;  
    background-color: $grey-place-bkgd;
    border: solid $grey-place-bkgd 0px;
    border-radius: 20px;
    font-size: 1rem;  
    font-weight: 500;
}

input:focus{
    outline: none;
    border-radius: 20px;
    background-color: $grey-bkgd;
}
input::placeholder {
    outline: none;
    border-radius: 20px;
    background-color: $grey-place-bkgd;
}

::-webkit-input-placeholder{     /* WebKit, Blink, Edge */
    color: $footer;
    opacity: 1;
    border-radius: 20px;
    padding-left: 4px;
    background-color: $grey-bkgd;
}
::-moz-placeholder{    /* Mozilla */
    
    color: $footer;
    opacity: 1;
    border-radius: 20px;
    background-color: $grey-place-bkgd;
}




.presentation {    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    margin-bottom: 0px;
    background-color: $grey-bkgd;
    &__title { 
        @include mobile-only {
            padding: 0px 70px;
        }
    }
    &__paragraph {  
        margin: -6px auto -4px;      
        font-weight: 300;
        @include mobile-only {
            padding: 0px 20px;
        }
    }
}

.gradient {
    margin: 40px auto;
}

.functioning {
    margin: 50px 0px 35px;
    padding: 0px 24px;
    &__threebuttons {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        @include tablette {
            flex-direction: column;
        }
    }
    // &__button {
    //     cursor: pointer;
    //     display: flex;
    //     flex: 30%;
    //     max-width: 30%;
    //     align-items: center;
    //     margin: 0px auto 30px;
    //     padding: 10px 0px;
        
    //     @include tablette {
    //         width: 50%;
    //         max-width: 50%;
    //         padding: 10px 0px 10px 0px;
    //     }
    //     @include mobile-only {
    //         width: 100%;
    //         max-width: 100%;
    //         padding: 10px 0px 10px 0px;
    //     }
        
    //     border-radius: 20px;
    //     background-color: $grey-bkgd;
    //     box-shadow: -1px -1px 18px $grey-place-bkgd, 2px 2px 3px $grey-place-bkgd;
    //     transform: scale(1);
    //     transition: transform 400ms;
    //     &:hover {
    //         background-color: pastel($primary);
    //         .functioning__icon--color {color: $primary;}
    //         transform: scale(1.02);
    //         box-shadow: -3px -3px 6px $grey-place-bkgd, 4px 4px 6px $grey-place-bkgd;
    //     }    
    // }
    &__title {        
        text-align: center;
        margin-bottom: 30px;
        @include mobile-only {
            text-align: start;
        }
    }
    &__round{
        position: relative;
        left: -12px;
        font-size: 90%;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        text-align: center;
        line-height: 25px;
        color: $white;
        background-color: $primary;
        margin-right: 15px;
    }
    &__icon {
        width: 40px;
        color: $grey-icon;
    }
}

.list-menus {
    background-color: $grey-bkgd;
    padding: 30px 24px 40px;
    &__title {
        text-align: center;
        @include mobile-only {
            text-align: start;
        }
    }
    &__card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;  
    }
}
 
.menu {
    flex: 24%;
    max-width: 24%;
    @include tablette {
        text-align: start;
        flex-direction: row;
        flex: 49%;
        max-width: 49%;
    }
    @include mobile-only {
        min-width: 100%;
    }  
    position: relative;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px $grey-place-bkgd;
    overflow: hidden;
    &:hover {
        color: $primary;
    }
    &__image {
        position: relative;
        height: 170px;
        overflow: hidden;
        img {    
            position: absolute;
            bottom: 0px;           
            max-width: 115%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__new {
        position: absolute;
        top: 15px;
        right: 15px;
        text-align: center;
        padding: 6px 12px;
        border-radius: 3px;
        background-color: $tertiary;
        color: dark($tertiary);
    } 
    &__text-heart {
        display: flex;
        justify-content: space-between;
        padding: 16px 30px 16px 10px;
        background-color: $white;
    }
    &__title {
        margin: 0px auto; 
        font-weight: bolder;       
    }
    &__paragraph {
        font-weight: 400;
        margin: 2px auto 0px;
    }     
    
    &:nth-child(n+3):nth-child(-n+4) .menu__new{
        display: none;
    }
}


