
.page {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    // margin: 0px auto;
    &__image {
        height: 200px;
        & img{
            max-width: 100%;
        }
    }
    &__restaurant {
        display: flex;
        flex-direction: column;
        border-radius: 50px 50px 0px 0px;
        background-color: $grey-bkgd;
    }
    &__button {
        text-align: center;
        margin: 35px auto 70px;
    }

    // &__gradient {        
    //     padding: 15px 50px;        
    //     // width: 185px; 
    //     color: $white;
    //     border-radius: 30px; 
    //     background: linear-gradient(170deg, $secondary, $primary);
    //     box-shadow: 2px 2px 3px shader-grey(76%);
    //     transform: scale(1);
    //     transition: all 400ms;
    //     &:hover {
    //         transform: scale(1.01);
    //         background: linear-gradient(170deg, lighten($secondary, 4%), lighten($primary, 4%));
    //         box-shadow: -1px -1px 6px $grey-icon, 2px 2px 3px $grey-icon;
    //         }        
    //     } 
}

.name {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 15px 20px 0px 20px;
    &__title {
        font-family: Shrikhand, Arial, Helvetica, sans-serif;
    }
    &__title {
        font-size: 1.65rem;
    }
    &__heart {
        position: absolute;
        right: 24px;
        top: 26px;
    //     &:hover {
    //         .menu__icon-solid--flyover {
    //             transform: scale(0.84);
    //         }
    //         // .menu__icon-contour--flyover {
    //         //     transform: scale(1.02);
    //         // }
    //     } 
    }
}

.type {
    margin: 20px 20px 20px 20px;
    &__title {
        font-size: 120%;
        font-weight: 300;
        border-bottom: $tertiary solid 3px;
        width: 48px;
    }
    
}

@keyframes animation-choice {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    
    80% {
        transform: translateY(0px);
    }   

    100% {
        opacity: 1;
    }   
}

.choice {
    cursor: pointer;
    &__load {
        animation: animation-choice ease-in-out $choice-duration backwards;
        @for $i from 1 through $choice-number {
            &--#{$i} {
                animation-delay: $delay * $i;
            }
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;;
        border-radius: 20px;        
        overflow: hidden;
        box-shadow: 3px 3px 3px shader-grey(93%);
        background-color: $white;
        &:hover {
            & .choice__check--rollover {
                margin-right: 0rem;
            }
            &  .choice__icon--rollover {
                transform: rotate(2turn);
            }
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        padding: 12px 0px 12px 12px;
        overflow: hidden;
    }
    &__title {
        margin: 0px;
        padding: 0px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__precision {
        margin: 5px 0px 0px;
        padding: 0px;
        font-weight: 300;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__price-check {
        display: flex;
    }
    &__price {
        padding: 0px 20px;
        display: flex;
        align-items: flex-end;
        padding: 1rem 1.5rem;
    }
    &__check {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.7rem;
        margin-right: -3.7rem;
        background-color: $tertiary;
        transition: margin-right 500ms ease-in-out;
    }
    &__icon {
        color: white;
        font-size: 1.3rem;
        transform: rotate(0deg);
        transition: transform 500ms ease-in-out;
    }
}
